main #video .tab_title {margin-bottom:30px;}
main #video .tab_title a {padding:20px 35px; display: inline-block;}
/* 탭 제목 활성화 디자인 + js class 호출용 */
main #video .tab_title a.active {border-bottom:5px solid rgb(0, 153, 255);}

/* 자주사용하는 메뉴 - 탭제목 */
main #menu .tab_title {display:flex; justify-content:center; border-bottom:1px solid #888;}
main #menu .tab_title a {
    width:160px; padding:15px 0; margin-right:10px; background:lime; position:relative; bottom:-1px;border:1px solid #ccc; background:#fff; border-bottom:1px solid #888;}
main #menu .tab_title a:last-child {margin-right:0;}
/* 탭 제목 활성화 디자인 + js class 호출용 */
main #menu .tab_title a.active {
    border:1px solid #888; border-bottom:1px solid #fff; border-top:5px solid rgb(0, 153, 255);}
/* 자주사용하는 메뉴 - 내용 */


/* main */
main {}
main #top_bnr {}
main #top_bnr h1 {}
main #category {}
main #category .tab_title {}
main #category .tab_title a {}
main #category .tab_title .active {}
main #category .tab_title_bnr {}
main #category .tab_title_bnr .txt_wrap {}
main #category .tab_title_bnr .txt_wrap .num {}
main #category .tab_title_bnr .txt_wrap .txt {}
main #category .tab_title_bnr .txt_wrap .txt em {}
main #category .tab_title_bnr .txt_wrap .txt span {}
main #category .tab_title_bnr .drink_wrap {}
main #category .tab_title_bnr .drink_wrap > div {}
main #category .tab_title_bnr .drink_wrap > div > .img {}
main #category .tab_title_bnr .drink_wrap > div > .img img {}
main #category .tab_title_bnr .drink_wrap > div > p {}
/* 소개 영역 */
main #intro {}
main #intro .left {}
main #intro .left h2 {}
main #intro .left h2 img {}
main #intro .left > div {}
main #intro .left > div p {}
main #intro .left .bg_300 {}
main #intro .left .bg_200 {}
main #intro .left .bg_50 {}
main #intro .left .bg_20 {}
main #intro .right {}
main #intro .right img {}
main #intro .right span {}
main #intro .right .w_b {}
main #all_brands  {}
main #all_brands .title  {}
main #all_brands .contents  {}
main #all_brands .contents a  {}
main #all_brands .contents a img  {}
main #all_brands .contents a .brand_name  {}
main #all_brands .contents a span  {}